<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- font-awesome cdn -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <link rel="stylesheet" href="join.css">
        <!-- style -->
        <link rel="stylesheet" href="header.css">
        <link rel="stylesheet" href="board.css">
        <!-- JavaScript -->
        <script src="header.js"></script>
        <title>SkyDiary</title>
    </head>
    <body>

        <header>
            <nav class="menu">
                <ul class="menu_list">
                    <!-- HOME -->
                    <li class="btn" id="board_btn">
                        <a href="">
                            <i class="fas fa-home"></i>
                        </a>
                    </li>
                    <!-- INSERT -->
                    <li class="btn" id="insert_btn">
                        <a href="">
                            <i class="far fa-plus-square"></i>
                        </a>
                    </li>
                    <!-- MYHOME -->
                    <li class="btn" id="home_btn">
                        <a href="">
                            <i class="fas fa-user-alt"></i>
                        </a>
                    </li>
                </ul>
            </nav>
        </header>
        
        <section>
            <div class="user_profile_box">
                <span class="user_profile">
                    <img src="루피_군침이 싹_도노...png">
                </span>
                <span class="user_id"> 양희민 </span>
                
            </div>
            
            <div class="content_box">

                <div class="img-box">
                    <img alt="" src="루피_군침이 싹_도노...png">
                </div>

                <div class="icon_box">
                    <a href=""><i class="fa-solid fa-heart"></i></a>
                    <a href=""><i class="fa-solid fa-comment"></i></a>
                </div>

                <span class="like_count">좋아요 0개</span>

                <div class="content">
                    <span id="user_name"> 양희민 </span>
                    <span id="board_content"> 군침이 싹 도는 루피..! </span>
                </div>
                
                <div class="reply_box">
                    <span id="reply"><a href="">댓글 보기</a></span>
                </div>
            </div> 
        </section>        
        <section>
            <div class="user_profile_box">
                <span class="user_profile">
                    <img src="루피_군침이 싹_도노...png">
                </span>
                <span class="user_id"> 양희민 </span>
                
            </div>
            
            <div class="content_box">

                <div class="img-box">
                    <img alt="" src="루피_군침이 싹_도노...png">
                </div>

                <div class="icon_box">
                    <a href=""><i class="fa-solid fa-heart"></i></a>
                    <a href=""><i class="fa-solid fa-comment"></i></a>
                </div>

                <span class="like_count">좋아요 0개</span>

                <div class="content">
                    <span id="user_name"> 양희민 </span>
                    <span id="board_content"> 군침이 싹 도는 루피..! </span>
                </div>
                
                <div class="reply_box">
                    <span id="reply"><a href="">댓글 보기</a></span>
                </div>
            </div> 
        </section>

    </body>
</html>