@charset "UTF-8";
/* 기본 레이아웃 */
*{
    margin: 0; padding: 0;
    box-sizing: border-box;
    font-size: 14px;
}

html {
    margin: 0 auto;
    background-color: rgb(240, 242, 245);
}

a {
    text-decoration: 0;
    color: black;
}

ol, ul {
    list-style-type: none;
}

.wrap{
    max-width: 480px;
    width: 100%;
    display: block;
    margin: 0 auto;
}

.top_menu{
    max-width: 480px;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 45px;
    padding: 10px;
    background-color: white;
    font-size: 16px;
    font-weight: 900;
}

.back_icon{
    display: inline-block;
}

.back_icon i {
    font-size: 20px;
}

.info_text{
    display: inline-block;
    margin: 0 auto;
}

.upload_box1{
    max-width: 480px;
    display: block;
    width: 100%;
}

.upload_btn{
    display: block;
    max-width: 480px;
    width: 100%;
}

.upload_icon{
    display: block;
    margin: 87px auto;
    padding: 100px;
    width: 100%; height: 300px;
    text-align: center;
}

.upload_icon i{
    font-size: 50px;
}

.upload_icon p{
    padding-top: 10px;
    font-size: 16px;
    font-weight: 900;
}

.img-box { 
    position: relative;
    width: 100%;
    margin-top: 5px;
} 

.img-box::after { 
    content: "";
    display: block;
    padding-bottom: 100%;
} 

.img-box img { 
    position: absolute; 
    top: 0; 
    left: 0;
    transform: translate(50, 50); 
    width: 100%; 
    height: 100%; 
    object-fit: cover; 
    margin: auto; 
}

.content{
    display: block;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 5px;
    font-size: 12px;
    font-weight: 600;
    border: 1px solid gray;
    width: 100%; height: 100px;
    resize: none;
}