<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <!-- JavaScript CDN-->
        <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
        <!-- font-awesome CDN -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg==" crossorigin="anonymous" referrerpolicy="no-referrer"/>
        <!-- CSS -->
        <link rel="stylesheet" href="insert.css">
        <!-- JS -->
        <script src="insert.js"></script>
    </head>
    <body>

        <div class="wrap">

            <header>
                <div class="top_menu">
                    <div class="back_icon">
                        <a href="#">
                            <i class="fa-solid fa-angle-left"></i>
                        </a>
                    </div>
                    <div class="info_text">
                        <span>게시물 작성</span>
                    </div>
                </div>
            </header>

            <form action="" method="">
                <section class="upload_box1">
                    
                    <label class="upload_btn" for="img_upload">
                        <input type="file" name="file" id="img_upload" onchange="readURL(this)" style="display: none;">
                        <span id="upload_icon" class="upload_icon">
                            <i class="fa-solid fa-image"></i>
                            <p class="upload_text">사진/ 동영상 추가하기</p>
                        </span>
                    </label>
                    
                    <div id="img_box" class="img_box">
                        <label for="img_upload">
                            <span class="preview">
                                <img id="previewImg" style="display: none;">
                                <video id="previewVideo" controls controlsList="nodownload"></video>
                            </span>
                        </label>
                    </div>

                    <div class="content_box">
                        <textarea class="content" name="content" id="content" placeholder="문구 작성하기"></textarea>
                    </div>
                </section>

                <div class="btn_box">
                    <input class="insert_btn" type="submit" value="게시">
                </div>

            </form>

        </div>

    </body>
</html>